<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <title>Search Engine</title>
  </head>
  <body>
<!-- <p id = "authors">Authors: Massimiliano Conte, Alessandro fabris. Prof: Massimo Melucci</p>!-->
        <div class = "outer">
            <div class = "inner" id = "logo">
                <a href="https://en.wikipedia.org/wiki/Information_retrieval" class="linksNoUnderline">
                    <h1 id = "logo">Information Retrieval</h1>
                </a>    
            </div>
            <div class = "inner">        
                <form action="#" method="post" class = "example">
                    <p><input type="text" name="query" placeholder="Enter your query"/>
                    <button type="submit"><i class="fa fa-search"></i></button></p>
                </form>
            </div> 
        </div>   
    <div class="footer">
        <p class="contacts"> Conte Massimiliano: <a href="mailto:massimiliano.conte.2@studenti.unipd.it" class = "emails">massimiliano.conte.2@studenti.unipd.it</a>
        <span id = "right">Fabris Alessandro:
        <a href="mailto:alessandro.fabris.6@studenti.unipd.it" class = "emails">alessandro.fabris.6@studenti.unipd.it </a></span></p>  
    </div>
  </body>
</html>
